
html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F9D29D;
    background-repeat:no-repeat;
  }

  

  .form {
    padding-left: 15%;
    padding-right: 15%;
    display: inline;
  }

  #landing-page {
    
    background: linear-gradient(45deg, #7F8C8D, #000000 ) no-repeat center center fixed;
    animation: gradient 20s ease infinite;
    background-repeat:no-repeat;
    text-align: center;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 70px;
    color: white;
  }

  #main-page {
    background-color: white;
    position: absolute;
    z-index: 2;
    height: 89%;
    width: 85%;
    display: inline-block;
    margin: 20px 20px 40px 100px;
    overflow: scroll;
    border-radius: 2%;
    padding: 10px;
  }

  #nav {
    background-color: #BFCDE0;
  }

  #gif-results {
    margin: 5px;
  }

  

  .landing-content {
    display: inline-block;
  }

  .landing-form {
      display: inline-block;
  }

  .footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    display: block;
    text-align: center;
  }
  
  .gif {
    margin: 10px;
    box-shadow: 1px 1px 2px grey;
    border: 2px solid  white;
    border-radius: 10%;
  }

  .card-button {
    display: inline;
    margin-left: 10px;
    box-shadow: 2px 2px 4px grey;
  }

  .card {
    border-radius: 10%;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    box-shadow: 3px 3px 6px grey;
  }

  .nav-btns {
    margin-left: 5px;
    margin-right: 5px;
  }

