
html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
  }



  .form {
    padding-left: 15%;
    padding-right: 15%;
    display: inline;
  }

  #landing-page {
    
    background: linear-gradient(45deg, #A8E6CE, #DCEDC2 ) no-repeat center center fixed;
    animation: gradient 20s ease infinite;
    background-repeat:no-repeat;
    text-align: center;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .landing-content {
    display: inline-block;
  }

  .landing-form {
      display: inline-block;
  }

  .footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    display: block;
    text-align: center;
  }
  
  .gif {
    margin: 5px;
    padding: 1px;
    box-shadow: 2px 2px 4px #000000;
    border: 1px solid  white;
    border-radius: 10%;
  }